html {
  font-size: $font-size;
}

body {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;
}

a {
  color: $color-primary;
  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}

h1 {
  font-family: $font-header;
  font-size: 3rem;
  margin: -$gap-md 0 1em;
  @extend %pseudo-title;

  &.h1--line-up {
    &::after {
      bottom: 9px;
    }
  }
}

section {
  .section__title {
    font-family: $font-header;
    font-size: 2.5rem;
    @extend %pseudo-title;
    padding-left: 45px;
    margin: 60px 0 45px 0;
  }
}
