%text-shadow {
  text-shadow: 0 0 5px $color-dark, 0 0 10px $color-dark, 0 0 20px $color-dark;
}

%pseudo-title {
  position: relative;
  overflow: hidden;
  &:after,
  &:before {
    content: "";
    position: absolute;

    width: 100%;
    border-bottom: 3px solid $color-accent-light;
  }

  &:after {
    bottom: 7px;
    margin-left: $gap;
  }
  &:before {
    top: 10px;
    bottom: unset;
    margin-left: -$gap;
    transform: translateX(-100%);
  }
}
