.main {
  margin-bottom: $gap-xl;

  .site-search {
    margin-bottom: $gap * 3;
    h2 {
      margin: 0;
      line-height: inherit;
    }
  }

  .user-login {
    margin-bottom: $gap * 4;
    h2 {
      margin: 0;
      line-height: inherit;
    }
  }
}

.new-films,
.top-week {
  &-row {
    margin-left: -$gap-sm;
    margin-right: -$gap-sm;
    // margin-bottom: -$gap;
  }

  &-item {
    padding-left: $gap-sm;
    padding-right: $gap-sm;
    margin-bottom: $gap;

    &__thumbnail {
      margin-bottom: 0;

      &:hover {
        background-color: $color-accent;
      }
    }

    &__title {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.1em;
      text-align: center;
      margin: 0;

      @include text-shortener;
    }

    &__image {
      width: 100%;
    }

    &__link {
      transition: color 0.3s;
      &:hover .new-films-item__title,
      &:hover .top-week-item__title {
        color: $color-white;
      }
    }
  }

  .top-week {
  }
}

.film-news {
  &-item {
    &__thumbnail {
      display: block;
      width: 100%;
    }

    &:hover &__thumbnail {
      background-color: $color-accent;
    }
    &:hover &__link {
      color: $color-accent;
    }
    &:hover &__btn {
      background-color: $color-accent;
    }
  }
}
